version: 1.0.{build}
os: Visual Studio 2015
environment:
  DNX_FEED: https://www.nuget.org/api/v2
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
- dnvm install 1.0.0-beta6
before_build:
- nuget restore
- dnu restore
build:
  verbosity: normal
test:
  assemblies: '**\bin\$(configuration)\HmLib.Tests.dll'
artifacts:
- path: artifacts\bin\HmLib\**\*.nupkg
  name: NuGet
on_success:
- ps: >-
    # run tests
    .\packages\Fixie.1.0.0.18\lib\net45\Fixie.Console .\src\HmLib.Tests\bin\Debug\HmLib.Tests.dll --xUnitXml .\xunit-results.xml

    # upload results to AppVeyor
	$wc = New-Object 'System.Net.WebClient'
	$wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\xunit-results.xml))